<div fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="card-header" fxLayoutAlign="center start" fxFlex>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Provide your details to login into the application</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form class="login-form" [formGroup]="form">
                <p>
                    <mat-form-field class="login-full-width">
                        <input matInput formControlName="username" placeholder="Username" />
                    </mat-form-field>
                    <mat-form-field class="login-full-width">
                        <input type="password" formControlName="password" matInput placeholder="Password" />
                    </mat-form-field>
                </p>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
            <button mat-raised-button color="accent" (click)="register()">Register</button>
            <button mat-raised-button color="accent" (click)="resetPassword()">Reset password</button>
        </mat-card-actions>
    </mat-card>
</div>